@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.demo {
  width: 70vw;

  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;

  background-color: red;

  ul.items {
    li {
      display: inline-block;
      margin-left: 0.5em;
      padding: 4px 24px;
      border: 1px solid #999999;
      background-color: #dddddd;

      font-family: "Teko";

      &:first-child {
        margin-left: 0;
      }

      div.main {
        white-space: nowrap;
      }
    }
  }
}

