.ticker {
  width: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
  white-space: nowrap;

  div.inner {

    div.marquee {
      //animation-name: marquee;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      padding-left: calc(100%);
      padding-right: calc(100%);

      ul.items {
        li {
          display: inline-block;
          margin-left: 0.5em;
          padding: 4px 24px;
          border: 1px solid #999999;
          background-color: #dddddd;

          &:first-child {
            margin-left: 0;
          }

          div.main {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

